[2018-07-30 14:40] arthurdenner opened #1 "Datepicker overlaps the screen if there isn't enough space to be displayed"
# 🐛 bug report

## Description of the problem
The datepicker overlaps the screen if there isn't enough space to be displayed.

## How has this issue affected you? What are you trying to accomplish?
If the component is on the right side of the screen, the datepicker doesn't show completely because it overlaps the screen.

### Link to a [sandbox](https://codesandbox.io/): [link](https://codesandbox.

[2018-07-30 14:56] arthurdenner opened #2 "Add more locales"
# 🌈 Feature

You can provide your own `locale` prop, but since is something common between countries that speak the same language, we can export locales and save some work.

In order to do this, you should clone the [English locale](https://github.com/arthurdenner/react-semantic-ui-datepickers/blob/master/src/locales/en-US.js), change the texts and submit a PR with it.

[2018-07-31 06:20] icameron opened #3 "Add ability to change date input via props after initial state has been set"
Setting selected date after the initial state has been set. i,e, a button on the page with a set date

[2018-07-31 17:36] arthurdenner commented on #3
@icameron, thanks for the suggestion. Just to clarify if I understood correctly, do you mean to make the datepicker a [controlled component](https://reactjs.org/docs/forms.html#controlled-components)?

[2018-07-31 19:53] icameron commented on #3
Yes that would work

[2018-07-31 20:08] #3 closed

[2018-07-31 22:06] icameron commented on #3
perfect!

[2018-08-06 12:53] #1 closed

[2018-08-30 13:52] arthurdenner opened #6 "Add a filterDate prop"
# 🌈 Feature

**Description**
Would be nice to have a way to prevent some dates of being selected, e.g the user doesn't want to allow weekend days to be selected.

**How it should work?**
Something similar to [react-datepicker](https://reactdatepicker.com/)'s `filterDate`

**How can this be implemented?**
[Live example](https://reactdatepicker.com/#example-21) and [code example](https://github.com/

[2018-09-28 13:46] arthurdenner commented on #6
Closed in #7.

[2018-09-28 13:46] #6 closed

[2018-11-30 00:07] Boasbabs opened #18 "Error:o is not a function (App Crashes upon date selections)"
# 🐛 bug report
I get this error when I select a date. What am I doing wrong?
[code]
Consider adding an error boundary to your tree to customize error handling behavior.
Visit https://fb.me/react-error-boundaries to learn more about error boundaries.

## Description of the problem
![screenshot from 2018-11-30 00-00-28](https://user-images.githubusercontent.com/13677777/49259935-39800200-f433-11e8-8

[2018-11-30 01:45] arthurdenner commented on #18
Hi, @Boasbabs!

Could you provide a sandbox with the error or maybe some sample code of how you are using the library so I can see if there is something wrong.

[2018-12-10 19:07] arthurdenner opened #19 "Remove the outer div in the datepicker"
# 🌈 Feature

Right now, we have an outer `div` in the datepicker with the `field` class wrapping the `Input` component and the calendar. This approach has some issues, especially related to how the library behaves in forms.

We must remove this `div` and implement the rendering of the calendar in another way. I'm not sure how this is supposed to work, but maybe these implementations can help:

htt

[2018-12-10 19:08] arthurdenner commented on #19
@lucasnsborges, you may want to take a stab at this.

[2019-01-08 12:34] erickne commented on #19
I'm probably having this issue in a form inside a modal.
![image](https://user-images.githubusercontent.com/1703652/50831060-db4b1680-1330-11e9-801c-2fcce77434f9.png)

Unfortunatelly, I to use this workaround to fix.
[code]

[2019-01-08 12:43] arthurdenner commented on #19
Yes, @erickne. This is probably the reason. Sorry about that. :confused:

If you want to take a stab at this, feel free to do it, I'd appreciate a lot!

[2019-01-30 10:01] jaybe78 commented on #18
getting the same issue...

[2019-01-30 10:38] arthurdenner commented on #18
@jaybe78, the `onDateChange` function is declared as required with `propTypes`, so you must see a warning in the console if you don't provide it, but unfortunately this doesn't prevent a runtime error.

I'm going to close the issue, but feel free to open an issue or a PR if you have any suggestion on how to improve this behaviour or error message.

[2019-01-30 10:38] #18 closed

[2019-02-13 16:03] zacheryph opened #21 "Datepicker inside placeholder Segment looks funny"
# 🐛 bug report

## Description of the problem
When placing a `DatePicker` inside of a `<Segment placeholder>` it hoses the selector a little bit.  Additional CSS is getting applied due to the `placeholder` for buttons that causes the `[<<] [<] DATE [>] [>>]` to get split so the arrows are on top of eachother.

## How has this issue affected you? What are you trying to accomplish?
This is probably

[2019-02-13 16:58] arthurdenner commented on #21
This is strange indeed, but it happens due to Semantic UI's `.ui.placeholder.segment .button` selector applying `display: block`.

Thanks for reporting, but I'm not sure I can fix because SUI's selectors are kinda hard to override. Feel free to send a PR with a fix.

[2019-02-20 20:08] jalavosus opened #22 "`selected` prop doesn't allow for selection change"
# 🐛 bug report

## Description of the problem
When passing `selected` as a prop with the current day as a parameter, selecting other dates is impossible.
## How has this issue affected you? What are you trying to accomplish?
I want to have the current day set as the default selected date, as well as allow other dates to be selected.

[2019-02-20 20:18] arthurdenner commented on #22
If you provide a `selected` prop, the datepicker turns into a [controlled component](https://reactjs.org/docs/forms.html#controlled-components), therefore you must keep the `selected` prop updated, e.g:

[code]

If I misunderstood the problem you're facing, please provide [a sandbox](https://codesandbox.io) so I can check.

[2019-02-21 16:26] jalavosus commented on #22
Ah okay, I was definitely using it wrong.

Thank you! :)

[2019-02-21 16:26] #22 closed

[2019-02-21 17:46] jalavosus opened #24 "Change behavior of BasicDatePicker when selecting a date twice in a row"
When selecting the same date from a `BasicDatePicker` twice in a row (a duplicate selection), the component resets its entire state, and clears out the selection.

From looking at the code, it seems like this behavior is supposed to happen. However, it seems counter-intuitive to me to clear the whole selection if a date is selected twice.

I can't come up with an easy workaround for this in my own

[2019-02-21 20:10] arthurdenner commented on #24
@jalavosus, thanks for the interest in improving the library! :heart:

I prefer the `clearOnDuplicate` idea (maybe a better name? I'm out of suggestions right now though) to avoid breaking the current behaviour.

[2019-02-22 00:08] jalavosus commented on #24
@arthurdenner See pull request #25 :)

[2019-02-25 17:05] #24 closed

[2019-03-05 06:48] FSerg opened #26 "Can't change width of input"
# ❔ Question

Can't change the width of the input.
The CSS customization is available only for cells :(
I tried to use id property like this:
`<SemanticDatepicker type="range" id="x123" />`
and CSS
`#x132 { width: 500px; }`
But it doesn't work.

Are there any ideas?

[2019-03-07 18:05] arthurdenner commented on #26
Hi @FSerg :wave:

This issue is probably caused by what I related in #19.

Unfortunately, I didn't take any time to check and try to solve it.

Any help would be appreciated. :pray:

[2019-04-11 00:38] ftier-tech opened #27 "The Calendar doesn't display correctly"
When I use SemanticDatepicker, is specify "basic" and when the calendar part displays, it shows the names of the days and the days all in one row.  Am I using it incorrectly?  Here's my code
[code]

[2019-04-12 17:31] arthurdenner commented on #27
Hi @ftier-tech, I think you are missing the CSS import.

[2019-04-15 12:27] ftier-tech commented on #27
OMG!  So sorry....duh!   Thank you!!!!

[2019-04-15 12:36] arthurdenner commented on #27
No problem!

[2019-04-15 12:36] #27 closed

[2019-06-06 15:49] xzessmedia commented on #26
hmm i can not confirm this,
i was able to change the width for the input,

`.ui.icon.input input {

    padding-right: 2.67142857em !important;
    width: 500px;

}`

for the class clndr-control
and even clndr-cell

without any problems, just normal css knowledge

[2019-06-06 15:52] xzessmedia commented on #2
[de-DE.zip](https://github.com/arthurdenner/react-semantic-ui-datepickers/files/3262391/de-DE.zip)

[2019-06-06 16:28] arthurdenner commented on #26
Hi @xzessmedia! :wave:

Yep, you can control it with CSS, but I think that the perfect behavior would be if just worked™ without any extra work. The problem is more visible if you try to use the component inside a `Form.Group`.

[2019-06-08 03:18] Ellipticamit opened #29 "Calender date get distorted in internet explorer 11"
]# 🐛 bug report

When date picker is open in Internet Explorer 11. The tabular form of date number gets distorted.

You can try to open this link:  https://react-semantic-ui-datepickers.now.sh in IE 11

![ie11issue](https://user-images.githubusercontent.com/5086469/59141393-d070dc80-89c9-11e9-8bf5-06e6c4aa9c49.PNG)

[2019-06-09 20:00] arthurdenner commented on #29
Hi @Ellipticamit! :wave:

Thanks for reporting the bug.

Maybe this has something to do with the IE11 support to CSS Grid (which is only [partial](https://caniuse.com/#feat=css-grid))?

Feel free to send a PR with a fix, but unfortunately I'm not planning to work on this since I don't need to support IE11 and I'm not using the library at my current work, so it's not being actively maintained as be

[2019-06-13 23:03] JonSilver opened #30 "onDateChange signature inconsistent with Semantic UI React components"
# 🐛 bug report

## Description of the problem
This component has a very different API/parameters/signature for onDateChange event to that presented by the Semantic UI React components. The components in Semantic UI React all have `(event, data)` signatures for event handlers such as those for `onChange` . This facilitates consistent treatment for the whole family of components using generic event

[2019-06-14 14:52] arthurdenner commented on #30
Hi @JonSilver! :wave:

I think you have a great point, would be nice to match the APIs.

Would you be interested to work on this?

[2019-06-14 22:53] JonSilver commented on #30
Thanks @arthurdenner. I wouldn't say no, but I have precious little time for my own projects, let alone others'. However I definitely have a use for such a component or I wouldn't have found yours. 🙂

There would be significant breaking changes to the API which would at least inconvenience existing users. Or we could leave `onDateChange` as it is, and also implement the more standard `onChange` ev

[2019-06-15 17:48] arthurdenner commented on #30
I don't mind having breaking changes. That would cause a major version bump anyway, so users would be aware of the changes and would migrate if they think it's necessary.

I don't like the idea of having two methods, I'd rather rename `onDateChange` and change its signature and rename the `selected` prop too.

I'll flag this as `help wanted` because I'm currently busy as well and the changes are n

[2019-06-15 21:10] JonSilver commented on #30
Ok @arthurdenner I'll probably end up forking your repo and making the modifications for myself anyway, so if I do I'll submit a PR once I've tested it all. Thanks for being so receptive to my suggestions. 🙂

[2019-06-24 13:02] pifpafpof-thomasL opened #31 "Time/hours/minutes input zone"
# 🌈 Optional field to also input a time in hours:minutes:seconds

Thanks for this great lib !

I now need to add this feature on a range Component
          <SemanticDatepicker
            onDateChange={(dateRange) => this.setState({ dateRange })}
            type="range"
            selected={dateRange}
          />

2 input time cells could be added below the "day of the moment component"

The s

[2019-06-24 13:41] arthurdenner commented on #31
Hi @pifpafpof-thomasL! :wave:

Thanks for the suggestion!

I've marked this as an `enhancement` and feel free to work on it if you like.

[2019-07-15 17:06] jaaaco opened #32 "pointing prop is not working / not defined in typescript interface"
When trying to use documented "pointing" prop in react component I got an error saying that it's not defined

[2019-07-16 09:49] rohitkkrana opened #33 "How will get current filed id or name ?"
# ❔ Question

Suppose we have two people his name is jhon,tony and that list is dynamic it may be increase, so we need to get the get the name or id of current field event. how can we recognise it?
### Link to a [sandbox](https://codesandbox.io/): [link]() (optional)

[2019-07-16 16:32] arthurdenner commented on #32
Hi @jaaaco! :wave:

You are right, the `pointing` prop is not documented.

Would you be interested in adding it through a PR?

[2019-07-16 16:34] arthurdenner commented on #33
Hi @rohitkkrana! :wave:

I'm sorry, but I didn't understand what you meant. Could you explain more or provide a sandbox reproducing your question?

Thanks in advance!

[2019-07-16 19:58] rohitkkrana commented on #33
Please check
https://codesandbox.io/s/async-sound-bu1f5?fontsize=14

[2019-07-17 10:04] arthurdenner commented on #33
Thanks @rohitkkrana! I think I understand what you mean now.

This is somewhat related to #30, because the `onDateChange` prop is called only with the new date, nothing else. I think I'll refactor this library in the next few weeks to improve it.

Right now, you can workaround this behaviour in the following way:

- Replace your `onDateChange` with:
[code]
- Update your `checkDate` method with:
[c

[2019-07-17 21:33] rohitkkrana commented on #33
Thanks and great job this module is so awesome. Thanks once again for you and your team...

[2019-07-17 21:33] #33 closed

[2019-07-18 21:31] arthurdenner commented on #32
Done in #34. Thanks @jaaaco!

[2019-07-18 21:31] #32 closed

[2019-08-20 11:13] LukasOchmann opened #38 "Showing a Range of Months"
# 🌈 Feature

I think it would be nice to be able to show the previous X and the following Y Month relating to the date-prop.

`<SemanticDatepicker previousMonths={2} followingMonths={3} />`
The props are Non negativ Integers.

e.g.: if it is March, i want to Show the previous Months January and February and the folloing Months April, May and June
=> January, February, March, April, May, June
Using

[2019-09-14 13:16] Fred2MTL opened #39 "Display the calendar into a 'popup'"
# 🌈 Feature

Hi,

Actually, the calendar display inline the container, disturbing the presentation. As following:

![image](https://user-images.githubusercontent.com/15947490/64908159-93a03a00-d6ca-11e9-988d-314f569228a3.png)

How can I put it into a 'pinned popup', please ?

Thanks in advance

I think it could work by:
- Displaying the input, with the icon,
- Showing the calendar into a popup whe

[2019-09-14 13:16] Fred2MTL opened #40 "The Calendar doesn't display correctly"
# 🐛 bug report

## Description of the problem

Hi,

as for #27, I've integrated the library and the css, as following:
[code]
But, as for #27, the result looks like

![image](https://user-images.githubusercontent.com/15947490/64908148-50de6200-d6ca-11e9-8481-d35aa649fe7f.png)

How can i fix it, please ?

Thanks in advance

Fred

## How has this issue affected you? What are you trying to accomplish

[2019-09-15 11:41] Fred2MTL commented on #40
Hi,

It's solved by using 'Rollup-postCss' with its default values, not the one used in this project.

Thanks for you work. It's a great component.

Fred

[2019-09-15 11:41] #40 closed

[2019-09-15 11:41] Fred2MTL commented on #39
Hi,

It's solved by using 'Rollup-postCss' with its default values, not the one used in this project.

Thanks for you work. It's a great component.

Fred

[2019-09-15 11:41] #39 closed

[2019-09-30 21:10] arthurdenner opened #41 "readOnly prop doesn't work as expected"
# 🐛 bug report

## Description of the problem
Even when the `readOnly` prop is true, we can still change the value of the datepicker.
## How has this issue affected you? What are you trying to accomplish?
N/A.
### Link to a [sandbox](https://codesandbox.io/): [link]() (optional)
The bug can be seen in [our documentation](https://react-semantic-ui-datepickers.now.sh/?selectedKind=Examples&selectedS

[2019-10-03 09:38] arthurdenner commented on #41
Closed by #42.

[2019-10-03 09:38] #41 closed

[2019-10-06 23:39] bf39l opened #44 "Missing props in SemmaticDatepickerProps interface definition"
# ❔ Question
I am working on a project written by typescript and I would like to use ReadOnly props in SemmaticDatepicker, then I got compile error because readOnly is not defined in interface SemanticDatepickerProps. Following codes are from "react-semantic-ui-datepickers/dist/index.d.ts"

[code]

[2019-10-07 09:49] arthurdenner commented on #44
Hi @bf39l! 👋

Thanks for reporting this. Since the typings are currently maintained manually, this kind of thing happens... but not for long.

I'm working on a branch that converts the component to TypeScript so the typings are generated automatically. I'll probably release a new version of the library with these changes this week and your issue will be solved.

But, if you need a fix ASAP, feel f

[2019-10-09 13:53] #44 closed

[2019-10-09 14:10] arthurdenner commented on #44
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-12 09:40] arthurdenner opened #48 "Use date-fns v2"
# 🌈 Feature

Since `date-fns` has now a stable release, we should try to use it.

We should install `date-fns@2` and replace all the imports.

*PS: It may not be possible to use everything from v2 and we may need to use functions from v1.*

[2019-10-12 10:09] arthurdenner opened #49 "Move locales to JSON files and dynamically import them based on the locale prop"
# 🌈 Feature

Currently, we are exporting the locales as ES6 modules and we receive them as a prop.

I think we can receive the locale as a string and dynamically import the locale from a JSON file.

As expected, the locale must be updated if the prop value change and fallback to English if not provided or has an invalid value.

This is probably supported by default since `tsdx` uses Rollup under t

[2019-10-12 10:11] arthurdenner opened #50 "Use dayzed v3"
# 🌈 Feature

Since `dayzed` has a new stable release, we should try to use it.

We should install `dayzed@3` and see if everything continues to work. It should.

[2019-10-17 10:02] #49 closed

[2019-10-17 20:07] arthurdenner commented on #50
Closed by #66.

[2019-10-17 20:07] #50 closed

[2019-10-25 12:23] #30 closed

[2019-11-09 18:53] Gallevy opened #104 "Feature: Tomorrow, Next week, Next month buttons"
# 🌈 Feature
**What is this feature**
I'm using this library in my project and for my particular use case, I would like to add a button to pick tomorrow/next week/next month in the datepicker (similar to the Today button).

I would probably add a prop for showTomorrow, showNextWeek, showNextMonth which defaults to false and if true they add a button under the today button. Would probably need to ad

[2019-11-11 15:53] arthurdenner commented on #104
Hi @Gallevy! 👋

I get your idea, but I think that this would bloat the UI:

![image](https://user-images.githubusercontent.com/13774309/68600874-91c4de00-04a3-11ea-8dc2-ade3c0bc4b4c.png)
![image](https://user-images.githubusercontent.com/13774309/68600932-a4d7ae00-04a3-11ea-9286-ebed48cd0bc6.png)

I'll leave the issue open to see if more people need this use case.

[2019-11-12 08:02] arthurdenner commented on #30
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-12 08:02] arthurdenner commented on #49
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-28 20:41] gencer opened #121 "How do you set current value?"
# ❔ Question

How do you set current value/selected value? Because it seems `selected` is not available at TypeScript level.

For example, this doesn't work:

[code]

`selected` is not a member of `SemanticDatepicker`.

Also, lets say I have a date object in my state:

[code]

This creates an infinite loop in my project. Don't know why. Still investigating.

P.S.: Turkish translation is on its way

[2019-11-28 20:46] arthurdenner commented on #121
Hi @gencer!

`selected` was replaced by `value` on v2 to make the API consistent with others components from Semantic UI React.

If you keep getting infinite loop, can you create a [sandbox](https://codesandbox.io) with a reproducible scenario, please?

[2019-11-28 20:48] gencer commented on #121
Hi @arthurdenner,

Thanks for the fast response. I will try to replicate same behavior on sandbox and attach here.

P.S.: I've sent a PR for Turkish language support.

[2019-11-28 21:21] gencer commented on #121
Ehrm, I'm going to crack this Monitor if I one more time try codesandbox :)

https://codesandbox.io/s/react-typescript-n214r?fontsize=14&hidenavigation=1&theme=dark

I just don't understand why this guy complain about my render(). It just works on my local test but complains on Codesandbox.😡🤬

But i think you will get the idea. Let me know if you really need a complete working sample. I will re-tr

[2019-11-28 21:52] gencer commented on #121
I suspected if `value` is different (in miliseconds) then value given by `onChange` but it seems its exact same. Any ideas on your end?

[2019-11-28 21:56] arthurdenner commented on #121
I'm investigating and will post here as soon as I have an update. I had problems with CodeSandbox too and had to solve them locally.

[2019-11-28 22:21] arthurdenner commented on #121
So, I couldn't get a sandbox working too - sorry about that - but I made this repo with a working version of your sandbox: https://github.com/arthurdenner/react-semantic-ui-datepickers_issue-121

The changes I did were:

- Check if `gte` is defined before calling `toJSDate` on it;
- Reset `gte` state if `d.value` is falsy (e.g. `null`);

If you these changes don't solve your issue, feel free to op

[2019-11-28 22:42] gencer commented on #121
Hi @arthurdenner!

Thanks for the sample repository. I found it. I just sent a PR. Please have a look at it.

[2019-11-29 00:49] arthurdenner commented on #121
Hey @gencer, check my comment in the [PR](https://github.com/arthurdenner/react-semantic-ui-datepickers_issue-121/pull/1), please.
Hopefully that solves your problem. 🙏

[2019-11-29 00:51] gencer commented on #121
Yup, that solved my problem.

Thank @arthurdenner for looking into this! 🙏👍

[2019-11-29 00:51] #121 closed

[2020-01-02 00:31] dcDalin opened #142 "animation={false} prop missing"
# 🐛 bug report

## Description of the problem
When using typescript, one can not set animation to false as the type is not declared.
## How has this issue affected you? What are you trying to accomplish?
The datepicker flickers when focus is on the input field
### Link to a [sandbox](https://codesandbox.io/): [link]() (optional)

[2020-01-02 06:12] arthurdenner commented on #142
Hi @dcDalin! :wave:

I'm afraid I didn't understand this issue.
Where is this `animation` prop you are referring to?

[2020-01-02 11:45] dcDalin commented on #142
Hello @arthurdenner,

<img width="825" alt="Screenshot 2020-01-02 at 14 42 41" src="https://user-images.githubusercontent.com/30606041/71665515-4f66a180-2d6e-11ea-852d-4d6a9984fb1e.png">

I want to set animation to false.

[2020-01-02 16:33] arthurdenner commented on #142
I see, but this prop doesn't exist on this library. You can see all supported props [here](https://github.com/arthurdenner/react-semantic-ui-datepickers#supported-props). I hope this helps.

[2020-01-02 17:25] dcDalin commented on #142
Yes @arthurdenner

Manually adding **False** as part of the allowed prop fixes this flickering issue.

Have a look at a similar issue/question raised on Stackoverflow [here](https://stackoverflow.com/questions/57618248/why-datepicker-flicker-in-react-when-focus-in-input-field).

[2020-01-02 17:37] arthurdenner commented on #142
I see now, you're talking about the wrong library. :sweat_smile:

You should file an issue [in this repo](https://github.com/arfedulov/semantic-ui-calendar-react) instead.

[2020-01-02 17:37] #142 closed

[2020-01-09 12:14] artawood opened #144 "How to get value of inputted date?"
Got a question. How do I get the value of the inputted date on the onChange event?
I'm using react hook
`const [currentDate, setNewDate] = useState("")`
Here's the code
`<SemanticDatepicker onChange={evt => setNewDate(evt.target.value)}/>`

I tried following the example in the Codepen with `onDateChange` but that doesn't seem to work in the new version.

[2020-01-11 08:16] arthurdenner commented on #144
Hi @artawood! :wave:

Sorry for the wait to reply, I'm taking a quick vacation.

So, since `2.0.0`, the signature for the `onChange` prop is similar to the `semantic-ui-react` library, which means `(event, data)`, and inside `data` there is a `value` property.

I never noticed that we don't let this clear on the documentation, would you like to submit a PR to add it? Let me know if you would or no

[2020-01-11 10:27] artawood commented on #144
@arthurdenner For sure! I have the edits ready to push. Can you grant me access so I can submit a PR? Thanks.

[2020-01-11 12:37] arthurdenner commented on #144
Nice! You can follow the [contribution guidelines](https://github.com/arthurdenner/react-semantic-ui-datepickers/blob/develop/CONTRIBUTING.md) to get your PR submitted.

[2020-01-12 18:08] artawood commented on #144
Hi @arthurdenner, here's the PR: https://github.com/arthurdenner/react-semantic-ui-datepickers/pull/145
Let me know if this helps.

[2020-01-14 08:34] #144 closed

[2020-01-14 19:29] arthurdenner commented on #144
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.3.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-02 18:58] #48 closed

[2020-02-03 20:17] Fred2MTL opened #176 "Existence of locale files"
# ❔ Question

Hi

I just made the upgrade from the previous version. So, I replace the locale import by a reference to locale into the tag definition (as following):
`
<SemanticDatepicker selected={oDateRange} type="range" showOutsideDays locale="fr-FR"...>
`

The build step (based on rollup) runs correctly, but the execution fails with the following error:
`ReferenceError: "require is not defined

[2020-02-04 20:51] arthurdenner commented on #176
Hi @Fred2MTL! 👋

The `locales` folder is published as you can see on [unpkg](https://unpkg.com/browse/react-semantic-ui-datepickers@2.3.0/dist/locales/).

However, I've tried to create an example on CodeSandbox and it's displaying only the `en-US.json` file and I don't understand why. 🤔

![image](https://user-images.githubusercontent.com/13774309/73785838-6ac33300-4798-11ea-9e73-672d633a7f1a.png)

[2020-02-08 13:50] Fred2MTL commented on #176
@arthurdenner

I understand 'require' in this context as a loading command specific to the node context, not to the library. Beacause:

- it references a static path, starting from the '.' (aka current directory),
- being included in all produced libraries (esm, gjs, etc.), it's not specific to the esm context.

So, in my undestanding, it must be solved at the build time (e.g by rollup) by includi

[2020-02-09 09:53] arthurdenner commented on #176
But the `locales` folder is in the `dist` folder as you can see in unpkg link. I'm going to tag this and feel free to work on it if you want, I'm quite busy with a personal project at the moment, unfortunately.

[2020-02-10 13:59] ktconnolly opened #182 "TypeError: Cannot read property 'slice' of undefined"
# 🐛 bug report

## Description of the problem

When I click on the date I get the following

    83 |   )}
    84 | </div>
    85 |

    | ^  87 |   {months[calendar.month].slice(0, 3)} {calendar.year}
    88 | </span>
    89 |

## How has this issue affected you? What are you trying to accomplish?

This only happens when I click on the date itself, if I click on the calendar or clear symbol it wo

[2020-02-10 17:16] arthurdenner commented on #182
Hi @ktconnolly! :wave:

Could you provide an example repo?

[2020-02-10 17:39] Fred2MTL commented on #176
Hi @arthurdenner
I rollback to the previous version and wait for your availability.
Thanks in advance
Fred

[2020-02-10 18:15] arthurdenner commented on #176
I would say that's better if try to contribute :)

[2020-02-10 19:23] ktconnolly commented on #182
I've realised what it was, I wasn't passing in a Date object correctly for the value, thanks anyway.

[2020-02-10 19:23] #182 closed

[2020-02-13 22:04] arthurdenner commented on #176
@Fred2MTL, could you provide a reproducible repo with instructions regarding this? It's important for whoever is going to work on it.

[2020-02-17 18:16] Fred2MTL commented on #176
@arthurdenner
No problem. I will do that this week.

[2020-03-18 11:06] azmatrana opened #215 "Input prop 'autoComplete' not working (input suggestions)"
# 🐛 bug report

## Autocomplete is not working in the date component.

##### Whenever the input field is empty the input is giving the browser suggestions which we can turn off but it is not doing any affect in this component. Below is the image showing that the suggestions for the inputs are available which I want to off. On simple Form.Input autoComplete='off' is working fine but with semantic u

[2020-03-25 17:10] arthurdenner commented on #215
Hi @azmatrana! 👋

Sorry for the wait to reply, I've been busy with other stuff.

Anyway, I've fixed this in the linked PR.

[2020-03-25 17:32] azmatrana commented on #215
@arthurdenner Thanks for the fix, appreciate it. When this update will be available in the node package as well ?

[2020-03-25 17:33] #215 closed

[2020-03-25 17:54] arthurdenner commented on #215
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.4.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-25 17:54] arthurdenner commented on #48
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.4.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-25 19:16] arthurdenner commented on #215
Hi @azmatrana! It was released on `2.4.0`. I had an issue with TravisCI so it took longer than expected but it's out now. Please let me know if you find any issues.

[2020-03-25 20:25] arthurdenner commented on #176
@Fred2MTL, any updates?

[2020-04-14 15:36] primalgreg opened #238 "onBlur fires only when first date selected in SemanticDatepicker when type is range"
# 🐛 bug report

Thanks for your work, I like the project.

## Description of the problem
Hello, when I use the SemanticDatepicker with type as range, I expect the to catch the onBlur callback when the second date is selected in the range. Right now, it only fires when you select the first date (and not the second date in the range). Seems like the onBlur functionality could be working only for a s

[2020-04-14 18:55] chrishj59 opened #239 "Form.input format is not a function"
# 🐛 bug report
The option format="DD/MM/YYY"  doegenerates an error - TypeError Format is not a function

## Description of the problem
I need the date to display in European format DD/MM/YYYY.
Where the SemanticDatepicker is used outside a Redux Form Field it is possible to use the format option to set the date format. This does not work within a Form.input

## How has this issue affected you? Wh

[2020-04-18 22:51] arthurdenner commented on #239
Hi @chrishj59! 👋

I'm not sure if I understand your issue and I'm not able to run your code since it requires redux-form to be setup and everything, but I've built [this example](https://codesandbox.io/s/react-semantic-ui-datepickers-example-hrs8n?file=/src/index.js:904-931) showing how to use this library with the format "DD/MM/YYYY".

I hope it helps. If it doesn't, please provide a sandbox with

[2020-04-18 23:03] arthurdenner commented on #238
Hi @primalgreg! 👋
I'm glad you like the project!

Good catch, that seems like a bug. I'll investigate it.
Feel free to contribute with a fix if you have interest in it.

[2020-04-19 15:46] arthurdenner commented on #238
Update: I did some changes on the library to better control the focus on the input and the firing of the `onBlur` callback. If you could test the changes by building the library locally, that would be very helpful!

[2020-04-19 16:03] gregoryrpitts commented on #238
Damn, that was fast! I'll test it for sure, but I was going to volunteer to try to help out :man_shrugging: next time!

[2020-04-19 16:05] gregoryrpitts commented on #238
Would the proper process be to pull the branch into my project? Or to test in codesandbox?

[2020-04-19 16:22] arthurdenner commented on #238
Hi @gregoryrpitts! Sorry about that, I had time yesterday and decide to take on it. I always say "feel free to work on it", but no one does it. If you have interest in working on another issue, don't hesitate to comment!

About trying the changes, I've managed to publish `2.6.0-beta.0`, please try it. I published from my local machine instead of TravisCI, but I think I did it correctly 🤞

[2020-04-20 21:36] chrishj59 commented on #239
I have created the repo that shows the issue. If you add the property format "DD/MM/YYYY" the component generates the error format not known
https://github.com/chrishj59/datepickerIssue

[2020-04-23 18:11] arthurdenner commented on #239
@chrishj59, your repo has only one commit from CRA, nothing else. Maybe you forgot to push?

[2020-04-23 20:52] chrishj59 commented on #239
My Apologies - I had forgotten to run commit .
The file with just the date picker is  datepickerIssue/src/components/SongList.js

Many thanks

Chris

[2020-04-23 22:16] arthurdenner commented on #239
@chrishj59, you are getting an error because the `Field` component from `redux-form` has also a prop called [`format`](https://redux-form.com/8.3.0/docs/api/field.md/#-code-format-value-name-gt-formattedvalue-code-optional-). Fortunately, redux-form pass down any prop that it's not in its API, so you do the following:

1. Create a new component that will map a "new" `dateFormat` prop to the `forma

[2020-04-23 22:16] #239 closed

[2020-04-24 18:25] chrishj59 commented on #239
Thanks, this works like a dream!! :)

[2020-04-26 05:24] #21 closed

[2020-04-26 05:24] #26 closed

[2020-04-26 05:24] #29 closed

[2020-04-26 05:24] #31 closed

[2020-04-26 05:24] #38 closed

[2020-04-26 05:24] #104 closed

[2020-04-26 17:15] arthurdenner commented on #238
Hey, any updates on this? Does the beta version fixes your issue? 😄

[2020-04-28 15:16] primalgreg commented on #238
Hi Arthur,

Sorry, I got caught up in some backend refactoring and haven't even opened
up the React Project in a week or so. I'll verify either today or tomorrow.

- Greg

On Sun, Apr 26, 2020 at 10:15 AM Arthur Denner <notifications@github.com>
wrote:

[2020-04-30 22:55] primalgreg commented on #238
Arthur,

I tested in my project and it works as expected. Thanks so much for a quick
response! Open source projects are thankless sometimes, and can be the
brunt of disrespect from developers who don't respect the time and effort.

Does the project have a fund I can donate to? I'm just an individual so
it's chump change but I want to recognize effort.

- Greg

On Tue, Apr 28, 2020 at 8:16 AM Grego

[2020-05-04 13:54] saikumarkunchaa opened #257 "How to set date value through redux-form?"
How to set date value through redux-form?

[2020-05-04 13:55] saikumarkunchaa commented on #257
<Field
                    name="date1"
                    component={SemanticDatepicker}
                    placeholder="Date"
                  />

[2020-05-04 13:57] saikumarkunchaa opened #258 "How to set date value in redux-form?"
How to set date value in redux-form?
dispatch(change('FormData', 'date1', value));

<Field
                    name="date1"
                    component={SemanticDatepicker}
                    placeholder="Date"
                  />

[2020-05-04 13:58] saikumarkunchaa commented on #258
@arthurdenner  please help me to do this.

[2020-05-04 13:58] #257 closed

[2020-05-04 20:18] arthurdenner commented on #238
@primalgreg, thank you for the kind words. I've applied for GitHub Sponsors though, but it'll take some time to my application to be reviewed, so there's no way to donate at the moment.

I'll release a new stable version with the changes.

Best regards.

[2020-05-04 20:18] #238 closed

[2020-05-04 20:27] arthurdenner commented on #238
:tada: This issue has been resolved in version 2.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.5.1)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-04 21:40] arthurdenner commented on #258
Hi @saikumarkunchaa! 👋

I've created [this sandbox](https://codesandbox.io/s/react-sui-datepickers-redux-form-ndd6b) to describe the usage of this library with `redux-form` using the `Field` and `dispatch` APIs.

Let me know if you have any questions or suggestions.

[2020-05-04 21:40] #258 closed

[2020-05-05 08:29] saikumarkunchaa commented on #258
Thank you for quick response @arthurdenner

[2020-05-08 21:18] pzmosquito opened #260 "setting placeholder to empty string or null doesn't work"
# 🐛 bug report

## Description of the problem

## How has this issue affected you? What are you trying to accomplish?

### Link to a [sandbox](https://codesandbox.io/): [link]() (optional)

[2020-05-09 13:19] #260 closed

[2020-05-09 13:21] arthurdenner commented on #260
@pzmosquito, thank you for reporting this. I've fixed it and a new version will be released soon.

[2020-05-09 13:23] arthurdenner commented on #260
:tada: This issue has been resolved in version 2.5.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.5.3)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.5.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-10 12:35] arthurdenner commented on #238
@primalgreg, I have GitHub Sponsors enabled now in case you're still interested in donating 🎉

[2020-05-25 17:19] gregoryrpitts commented on #238
Thank Arthur, I signed up. Best wishes.

On Sun, May 10, 2020 at 5:35 AM Arthur Denner <notifications@github.com>
wrote:

[2020-05-25 17:59] arthurdenner commented on #238
Thank you very much, that means a lot!

[2020-05-28 09:06] kasugaicrow opened #282 "Inline version of datepicker"
# ❔ Question

Hi,
I have implemented react-semantic-ui-datepickers inside my react application and everything works fine, but I have a question. Is there a way to display the datepicker inline? I mean without the need to click inside the textbox and wait for the popup to appear. A way to display only the actual datepicker ready to use.

Thanks

[2020-05-28 19:31] arthurdenner commented on #282
Hi @kasugaicrow! 👋

There wasn't a way, but I've created a PR adding support to it and released `2.7.0-beta.0` so that you can test and see if it fits your needs.

You can also check it [here](https://react-semantic-ui-datepickers-fxoutao4j.now.sh/?path=/story/datepickers--basic-usage), by toggling the "Inline (without the input)" checkbox.

[2020-06-04 13:39] kasugaicrow commented on #282
Hi @arthurdenner!
I checked your PR and the example on the storybook and it perfectly fits my requirements.

Thank you so much for your work!

[2020-06-04 18:21] arthurdenner commented on #282
Awesome. Then I'll merge the PR and release it. Thank you for the suggestion.

[2020-06-04 18:22] #282 closed

[2020-06-04 18:26] arthurdenner commented on #282
:tada: This issue has been resolved in version 2.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.7.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-17 06:16] abhikur opened #296 "How do we pass a custom icon"
# ❔ Question

I want to rendering SemanticDatePicker with a custom icon instead of close icon. How do I do that?
I tried passing a className in the icon prop but that doesn't work. Please help me for this

[2020-06-17 15:34] arthurdenner commented on #296
Hi @abhikur! 👋

You can customize the icon when there are no selected dates by passing a string to the `icon` prop. The string needs to be one of the values listed [here](https://react.semantic-ui.com/elements/icon/).

The "clear" icon is not customizable at the moment but I can take a look into that. Out of curiosity, what's your use case, which icon would you like to use?

[2020-06-17 18:37] arthurdenner commented on #296
@abhikur, I have put up a PR for adding support for custom `icon` and `clearIcon` props - `clearIcon` is a new prop. If the PR gets merged, you'll be able to pass any valid string/icon from SemanticUIReact or a custom component to both props.

You can play with [here](https://react-semantic-ui-datepickers-git-feat-support-custom-icons.arthurdenner.vercel.app/?path=/story/datepickers--with-custom-i

[2020-06-17 18:41] arthurdenner commented on #296
Feel free to review the proposed PR and suggest any fixes, changes or improvements.

I've also published the changes under the version `2.8.0-beta.0` so that you can test on a project as well if you prefer.

[2020-06-18 15:53] abhikur commented on #296
Hi @arthurdenner, thanks for the quick reply. clearable={false} did the trick. I am able to see the calendar icon instead of close now. But yeah if we can pass custom icons (not from the list) then it would be great. I saw your PR I hope that would do the same what I am asking for.

[2020-06-18 16:04] abhikur commented on #296
@arthurdenner I am able to pass the custom icon now. This looks good. Now, it will be great if you can merge this PR so that I can use proper version. Thanks

[2020-06-18 16:08] abhikur commented on #296
@arthurdenner One more question I have is - Is there any way I can get the time as well along with the selected date. For ex - I select a date from the datepicker and as a date object I get datetime instead of just date. Right now the time is coming as 00:00:00 in the date but I want the current time. If it is not yet built, should I can create a issue card for this?

[2020-06-22 22:49] bhkangw opened #302 "Way to remove Today button from picker?"
Looked through docs and couldn't find a way to remove the large 'Today' button at the bottom of the datepicker. Would love to keep it simple and only display the calendar itself.

If there's not a way, is there a way to change the size of the date picker?

[2020-06-29 07:56] arthurdenner commented on #296
@abhikur, nice that the proposed change works for you. I'll merge the PR soon and release a stable version.

Regarding the date, that's not supported and I don't plan to add it as it would be a breaking change and could lead to more problems than benefits.

[2020-06-29 07:57] #296 closed

[2020-06-29 12:02] arthurdenner commented on #302
Hi @bhkangw! 👋

Yes, it's possible to remove it by passing `showToday={false}` to the component. However, if you're using TypeScript, this would display an error as the prop was not declared in the definitions. I've pushed a fix for it.

[2020-06-29 13:43] #302 closed

[2020-06-29 13:49] arthurdenner commented on #302
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.8.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-29 13:49] arthurdenner commented on #296
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.8.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-29 21:16] brad12s commented on #26
Running into same issues where the last 2 digits are being cutoff.
We're using inside a <Form.Group>.
Editing the css renders **all** UI input fields:

 `.ui.form .field .ui.icon.input {
    width: 312px;
}`

[2020-07-02 13:29] saikumarkunchaa opened #307 "Can I get year selection option?"
Could you please let me know year selection option here now it is going to 12months back but I need year selection

[2020-07-02 14:17] arthurdenner commented on #307
Hi @saikumarkunchaa! 👋

Year selection is not supported at the moment, but feel free to submit a PR if you're interested in adding it.

[2020-07-04 06:47] saikumarkunchaa commented on #307
Hi Arthurdenner,
Thank you for your response.

Thanks,
Saikumar K

On Thu, 2 Jul, 2020, 7:47 PM Arthur Denner, <notifications@github.com>
wrote:

[2020-08-03 07:03] twlai opened #334 "Wrong value recorded. onChange() callback is not fired when the new input date is in invalid format"
# 🐛 bug report

## Description of the problem
Under the following situation, there's a problem when using the onChange() callback to update the value to state variable.

1. Focus the text input box
2. The date picker is popped up. Select a date.
3. The selected date value is displayed in the input text box.
4. Then focus the date input box again.
5. This time manually use backspace to remove some

[2020-08-05 08:32] arthurdenner commented on #334
Hi, @twlai! 👋

Thank you for reporting this.

I've created a PR to fix it and released `2.8.1-beta.0` so that you can test if it works for you.

Let me know how it goes please 😃

[2020-08-07 18:15] unbugged opened #337 "className for SemanticDatepicker?"
When validating the input, it would be nice to attach a class into it on error, for instance to surround it with a red border.

Is it possible to pass a className for SemanticDatepicker?

[2020-08-11 15:43] arthurdenner commented on #334
@twlai, have you been able to test the fix?

[2020-08-11 16:01] arthurdenner commented on #337
Hi @unbugged! 👋

For the use case you mentioned, display an error state, I'd suggest the `error` prop, which is passed down to `semantic-ui-react`'s Input - [see here](https://react.semantic-ui.com/elements/input/#states-error).

Regarding the `className` prop, that wasn't supported, thanks for pointing that out! I've added support for it in #346, it's passed down to semantic-ui-react`'s Input as

[2020-08-11 16:01] #337 closed

[2020-08-11 19:13] arthurdenner commented on #337
The change will be released once #336 is merged.

[2020-08-17 01:37] twlai commented on #334
Dear Arthur,

Sorry for getting back late. I have just tested the fix. It works like a
charm. Thank you so much.

Regards,
TW

On Tue, 11 Aug 2020 at 23:44, Arthur Denner <notifications@github.com>
wrote:

[2020-08-17 16:09] #334 closed

[2020-08-17 19:51] arthurdenner commented on #334
:tada: This issue has been resolved in version 2.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.9.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-17 19:51] arthurdenner commented on #337
:tada: This issue has been resolved in version 2.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.9.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-24 21:45] dandalgatov opened #374 "Unable to see *required star on the label"
Here is 2 fields side by side, they both have "required" tag, but the little star  *  doesn't show up on the date picker label. You can see screenshot attached. [](url)

        <Form.Group widths='equal'>
          <Form.Select fluid required
            label='Group'
            placeholder='Group'
            name='group'
            options={groupOptions}
            onChange={handleChange}

[2020-08-24 22:11] arthurdenner commented on #374
Hi @dandalgatov! 👋

Thank you for reporting this. I've put a PR to fix it and it'll be released soon.

[2020-08-24 22:16] #374 closed

[2020-08-24 22:23] arthurdenner commented on #374
:tada: This issue has been resolved in version 2.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.9.1)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-07 14:40] ddeisadze opened #391 "Add support for inverted style"
# 🐛 bug report
## Description of the problem
If datepicker is nested within a semantic-ui element e.g. Table with inverted=True, the text inside the datetime dialog will be styled with an inverted theme (color: white) and the dialog box will also stay white, which does not play well. We could manually override the style but it would be nice to pass in a prop `inverted`

## How has this issue affec

[2020-09-07 21:17] arthurdenner commented on #391
Hi @ddeisadze! 👋

Thank you for reporting this.

I opened a draft PR to work on this in the following days. I hope to finish soon, but I can't provide an ETA though.

For some components from `semantic-ui-react` I can just pass down the prop, but for the custom elements, I need to see what to do.

Any suggestion and help is welcome 😃

[2020-09-11 02:16] #307 closed

[2020-09-13 12:03] xwilluhn opened #394 "time input"
# ❔ Question

Can I have time input with this?

[2020-09-15 15:49] arthurdenner commented on #394
Hi @xwilluhn! 👋

Time selection is out of the scope of this library for now.

[2020-09-15 15:49] #394 closed

[2020-09-30 13:07] Antoine-O commented on #176
I think I have the same problem. I am using Meteor with react/semantic-ui. I will check when the project is built if it changes something.

[2020-09-30 14:26] arthurdenner commented on #176
I was able to reproduce this using Snowpack, but couldn't find a solution to the problem without rewriting a lot of code since `require` is sync but `import()` is async.

Due to lack of time, I didn't put more work on it so any help or change is appreciated.

[2020-09-30 15:50] Antoine-O commented on #176
I don't know much on programming node package but could the package use project based json if not found in the package ?

[2020-10-12 12:58] #391 closed

[2020-10-12 13:05] arthurdenner commented on #391
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-semantic-ui-datepickers/v/2.10.0)
- [GitHub release](https://github.com/arthurdenner/react-semantic-ui-datepickers/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2020-10-13 11:33] arthurdenner commented on #391
@ddeisadze, whenever you have some time, please test the new version with support for the prop `inverted`. If you find any issues or have any suggestions, feel free to create new issues for them.

[2020-10-17 06:39] Yeongjae-Shin commented on #2
I finished translating Korean
Check PR plz 😊

[2020-10-20 12:03] euobrunocosta opened #430 "Yup validation"
Can I validate the field with yup?

`dataAgendamento: yup.date().required()`

[2020-10-25 19:25] arthurdenner commented on #430
Hi @euobrunocosta! 👋

You definitely can. You can find an example of usage with Formik and yup [in this sandbox](https://codesandbox.io/s/react-semantic-ui-datepickers-example-forked-my07l?file=/src/Form.js).

[2020-10-25 19:25] #430 closed

[2020-12-22 11:23] wollo commented on #176
I am facing the same issue when bundling the module via rollup. I think there are 3 potential solutions around:
1. going back to the before 2.0 way of handling locales. That works for me well in rollup
2. modifying the current version so that it handles both ways. So you export the locale folder as in version 1 and when somebody supplies an locale object instead of a locale string, it will use the

[2021-01-05 18:42] Scharps opened #491 "Label appears at side of picker"
When grouped with semantic form inputs in a modal, the label does not appear at the top of the component, but to the left.

![firefox_SoHdka23k1](https://user-images.githubusercontent.com/19755001/103685827-c4724580-4f85-11eb-8215-de7482cf8cff.png)

https://codesandbox.io/s/focused-wescoff-yxy2j?file=/src/App.js

[2021-01-05 21:38] Scharps commented on #491
When wrapped in Form it works correctly

[2021-01-05 21:38] #491 closed

[2021-01-25 13:21] S0PEX opened #509 "Setting tabIndex"
# ❔ Question

Hey,

I am really enjoying your date picker but I can't get the tab order working in my form when using the date picker.
Currently I am using react-hook-form and added the tab index attribute to the date-picker but it isn't picked up by the browser. Do you have any solution to this ?
[code]

Regards Artur

[2021-01-26 19:02] GXelha opened #510 "Control not taking the value if Typed and then exited on Tab"
# ❔
If we enter the date using the keyboard, and we press Tab to go to next control, the value is not set.
The event OnChange is not executing.
This is happening with version 2.12.0, but seems to be working fine on version 2.3.0

[2021-01-26 19:06] GXelha commented on #510
If we enter the date using the keyboard, and we press Tab to go to next control, the value is not set.
The event OnChange is not executing.
This is happening with version 2.12.0, but seems to be working fine on version 2.3.0

[2021-01-28 21:01] arthurdenner commented on #509
Hey @S0PEX! 👋🏽

Sorry for the wait to reply and thank you for reporting this.

I looked into this issue today and managed to fix it by adding `tabIndex` to the "whitelist" of props forwarded to React Semantic UI's Input.

I want to get rid of this "whitelist" and just forward everything but it'll require more work, so I'll skip it for now and just fix this particular issue.

I've published `2.12.1

[2021-01-28 21:01] arthurdenner commented on #510
Hey @GXelha! 👋🏽

Sorry for the wait to reply and thank you for reporting this.

I looked into this issue today and managed to fix it by actually handling the `onBlur` event in our custom input.

I've published `2.12.1-beta.1` to npm. Can you please try it and see if it works for you?

[2021-02-01 12:04] niraj1234567890 opened #515 "Component Not Visible On the Screen"
When I am clicking on the SemanticDatePicker component, popup with the calender is not visible. BUT popup calender is there on the screen(when I inspected the component, I can see it's size and other CSS related stuff there). There must be some CSS trick which I am missing. Although I am including the below css in my component file I doubt that I am missing any CSS files.

**import 'react-semantic

[2021-02-01 15:09] GXelha commented on #510
Thanks @arthurdenner , we'll try it on and let you know as soon as we can. Thanks for your promptly answer.

[2021-02-04 22:17] S0PEX commented on #509
@arthurdenner Sorry for the late reply. I currently have my exam period at the university so I am currently a bit busy . I will see that I test it on Monday when I am back in the office.

Thanks for responding and the fix.

[2021-02-05 07:44] henriksvensson commented on #510
Hi! Thanks for a great datepicker that fits with Semantic UI! 🙇

I ran into this issue as well and can confirm that `onChange` is triggered when you tab away from the input when using `2.13.0-beta.1`. 👍

Maybe it's another issue, but I would suggest some more improvements on the tab navigation. If the user comes from a keyboard-only usage pattern, it would be super nice if the input behaves as a r

[2021-02-10 22:04] arthurdenner commented on #510
Hi @henriksvensson! 👋🏽

Thank you for your inputs and sorry for the wait to reply.

I think you've got a fair point here, thank you for pointing it out. From I've tested, a screen reader mentions the content is selected so the user knows they can just press backspace or delete to clear the content as you mentioned.

I think it's safer to focus on the buttons as we can't really know what the user w

[2021-02-10 22:11] arthurdenner commented on #515
Hi @niraj1234567890! 👋🏽

It seems like you've got the correct setup for the datepicker. Have you installed the `semantic-ui-css` too?

If so, please provide a reproducible example with something like [CodeSandbox](https://codesandbox.io/) for further investigation.

[2021-02-10 22:31] arthurdenner commented on #509
Solved in #511. Please let me know if you still find issues.

[2021-02-10 22:31] #509 closed

[2021-02-10 22:31] arthurdenner commented on #510
Solved in #511 and #524. Please let me know if you still find issues.

[2021-02-10 22:31] #510 closed

[2021-02-21 16:05] arthurdenner commented on #515
Closing this due to inactivity. Please reopen if needed.

[2021-02-21 16:05] #515 closed

[2021-02-24 15:43] S0PEX commented on #509
Hey, I have just tested it. Works fine thanks for the efford.

[2021-03-16 11:48] kcolwell opened #562 "Align Right?"
# ❔ Question

I see that clndr-left is automatically applied to the main div. Is there a method for switching this to clndr-right?

[2021-03-16 16:15] arthurdenner commented on #562
Hi @kcolwell! 👋🏽

You can pass the prop `pointing="right"` to get the behaviour you've described.

You can test the options at https://react-semantic-ui-datepickers.now.sh/. There is a "Pointing" option in the sidebar.

[2021-03-16 16:25] #562 closed

[2021-03-16 17:53] kcolwell commented on #562
Sorry for being dense but is there a way to actually see the code on storybook?

[2021-03-16 19:59] arthurdenner commented on #562
Not currently, there's probably some way to tweak it in Storybook. I'll have a look.

And no worries, feel free to ask anything!

[2021-03-16 20:14] arthurdenner commented on #562
I had a look and didn't find a way to render the source based on the knobs, but it's possible to display the source of the story itself. I've added that in https://github.com/arthurdenner/react-semantic-ui-datepickers/pull/563. I hope it's helpful somehow!

[2021-03-30 09:44] ankitoye opened #570 "TimePicker"
# 🌈 Feature

Option to select time along with the date

User will be able to select date and time both.

https://reactdatepicker.com/#example-select-time

[2021-03-30 10:25] arthurdenner commented on #570
Hi @ankitoye! 👋🏽

Thanks for reaching out but time selection is out of the scope of this library for now.

[2021-03-30 10:25] #570 closed

[2021-05-08 01:35] luisalcarasr opened #584 "Error prop is not working"
# 🐛 Error prop is not working

## Description of the problem
The error prop is not working

## How has this issue affected you? What are you trying to accomplish?
I am trying use error property like a semantic-ui input, and this only is changing the font color.

### Link to a [sandbox](https://codesandbox.io/): [link]() (optional)

[2021-05-08 21:44] arthurdenner commented on #584
Hi @luisalcarasr! 👋🏽

We pass through the `error` prop to the underlining input from `react-semantic-ui`.
Therefore, providing the same prop to the datepicker should get you the below result:

![image](https://user-images.githubusercontent.com/13774309/117554269-dc062b80-b056-11eb-98ca-6b2ad213cf5b.png)

If you're not getting the same, can you create a [sandbox](https://codesandbox.io/) reproducin

[2021-05-13 04:28] GladeyMs opened #595 "I Can't install library"
I get the error when I install

[code]

[2021-05-14 05:39] #595 closed

[2021-05-14 05:53] arthurdenner commented on #595
Hi @GladeyMs! 👋🏽

Thank you for raising this. I opened #596 and released a new version: `2.13.1`.

Please verify if it's fixed and let me know if it doesn't work.

[2021-06-17 14:56] SaintWacko opened #609 "Setting the maxDate to a day in the current month still shows the next month"
The 'range' type datepicker displays two adjacent months side by side, defaulting to the current month and the next month. When setting a maxDate in the current month, it still behaves the same way, resulting in an entirely blacked out month appearing in the datepicker. I would expect it to show the current month and the previous month instead.

As an alternative, adding support for Dayzed's month

[2021-06-29 20:16] arthurdenner commented on #609
Hi @SaintWacko! 👋🏽

Thank you for reporting this. Sorry for the wait to reply, I was on a short vacation recently.

After investigating the issue you've described, I noticed it can be solved by passing a `date` prop to `dayzed`. This prop is "used to calculate what month to display on initial render", so you could set this to `subMonths(maxDate, 1)`.

However, this library currently overrides this

[2021-06-29 20:36] SaintWacko commented on #609
No worries, hope you enjoyed your vacation. And that does indeed fix how the months display, thank you!

[2021-06-29 20:46] arthurdenner commented on #609
Awesome. Thank you for the quick feedback. It's now published as a stable version - `2.13.2`.

[2021-06-29 20:46] #609 closed

[2021-06-29 20:48] arthurdenner commented on #584
Closing due to inactivity. Please provide a [sandbox](https://codesandbox.io/) if you face any issues.

[2021-06-29 20:48] #584 closed

[2021-09-01 14:13] kcolwell opened #647 "Clear date picker based on another form field"
# ❔ Question

How can I clear the date picker form field based on other fields or actions?

This doesn't work: document.getElementById("datesRange").value = "";

Also setDatesRange(""); after the date has been selected doesn't remove the date from the date picker form field.

Thanks!

[2021-10-01 12:31] github-actions[bot] opened #663 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-10-04 04:39] #663 closed

[2021-10-05 06:14] pzmosquito commented on #176
Submitted PR https://github.com/arthurdenner/react-semantic-ui-datepickers/pull/664 to resolve this issue

[2021-12-18 22:02] MutatedGamer opened #693 "Value property changing to null does not clear Input element's text if clearOnSameDateClick is false"
# 🐛 bug report

## Description of the problem

If a `SemanticDatepicker` has a `value` property being passed in, setting the property to `null` does not cause the inner `Input` element `value` to change if `clearOnsameDateClick` is false. This results in the text not updating, even though the value of the component has been updated.

In the sandbox link below, perform the following actions:
1. Sel

[2022-01-01 01:02] AntonStrickland opened #694 "Datepicker text unreadable due to CSS styling"
# 🐛 bug report

I don't know if this is a bug with the code or if I'm just doing something wrong.

## Description of the problem
The default text of the datepicker is black, but when I use CSS to modify my text across my entire app to white, the text inside the datepicker also changes to white, making it unreadable. This is for the name of the month, the days of the week, and the numbers of each d

[2022-01-07 18:12] arthurdenner commented on #694
Hi @AntonStrickland!

I'm sorry for the wait to reply, I haven't been able to look at my GitHub lately.
I hope you have found a solution but I'll drop my thoughts here.

Some elements have classes that allow customization because they use `color: inherit`:
https://github.com/arthurdenner/react-semantic-ui-datepickers#customization

You should be able to target one of them from your CSS rule, for e

[2022-01-07 18:12] #694 closed

[2022-01-07 18:18] arthurdenner commented on #693
Hi @MutatedGamer!

I'm sorry for the late reply, I haven't been able to check GitHub lately.
I got a reproducible sandbox and can confirm the bug: https://codesandbox.io/s/react-semantic-ui-datepickers-example-forked-etuhp?file=/src/Repro.js:298-318

I'll update here when it's fixed.

[2022-01-07 19:11] arthurdenner commented on #693
I did a few changes on #706 and released `2.15.1-beta.1` so you can test it.

Let me know how it goes so I can release a stable version or fix it if needed

[2022-01-07 23:36] MutatedGamer commented on #693
Hi @arthurdenner,

Thanks for the quick turnaround. I tested the beta version with my above sandbox and it seems to be fixed. I sadly had to move away from this dependency for my project because #176 is a bigger blocker. My project uses vitejs for its webpack, which results in the entire app crashing in production when you try to load a datepicker. Hope you can find time to address that bug too -

[2022-01-12 05:34] phurichpusapanich-itsmy opened #707 "Using react-semantic-ui-datepicker with formik-semantic-ui-react"
Hello,

I am working on a form project using **react-semantic-date-picker** with **formik-semantic-ui-react** + **yup validation.**

I notice that, when i use the **Form** component from **formik-semantic-ui-react** to wrap **SemanticDatePicker**, the error style for SemanticDatePicker is not fully shown. From [this sandbox](https://codesandbox.io/s/react-semantic-ui-datepickers-example-forked-my0

[2022-01-13 16:32] #707 closed

[2022-01-13 16:37] arthurdenner commented on #693
Thanks for the feedback! Yea, I should get some time to look into that issue 😅

[2022-01-13 16:39] arthurdenner commented on #707
Hi @phurichpusapanich-itsmy! 👋🏽

Thank you very much for reporting this!
There's nothing wrong with your code.

I did some debugging here and noticed that the `error` must be passed to `Form.Field` when `Form` is used.
This applies to `semantic-ui-react` as well, it's something I missed 😢

It has been fixed in #708 and released on `2.15.1` and `2.15.2`. Please upgrade and test it.

[2022-01-13 16:48] arthurdenner commented on #693
Closing as the fix is now published on `2.15.2`.

[2022-01-13 16:48] #693 closed

[2022-01-14 03:27] phurichpusapanich-itsmy commented on #707
Hi @arthurdenner

Thank you for the fast response and fix.

I have upgraded semantic-ui-react-datepickers to the most recent one (2.15.2) and have confirmed that the problem has been fixed.

Thanks!

[2022-01-17 17:21] arthurdenner commented on #176
Hey everyone!

I know ESM support is a long-standing issue and there's no direct replace for `require` (a synchronous import) on ESM.
So I've explored a few options given by some of you and if possible, I'd like your input and opinion on the options below.

## Option 1 - Accept an object as the `locale` prop

The component can accept an object as it was in v1, never reaching the `require()` that b

[2022-01-18 07:12] pzmosquito commented on #176
Thanks for putting this together. This is still relevant to me. I have no problem going with either approach. Here's my 2 cents:

If you plan on refactoring the code properly to get rid of `require` in the future, go with option 2, because it will not require user code update. Otherwise go with option 1.

[2022-01-21 02:38] MutatedGamer commented on #176
@arthurdenner may I propose following what `react-datepicker` does? https://github.com/Hacker0x01/react-datepicker#localization

[2022-01-29 13:01] wollo commented on #176
Yes, that is still relevant to me! I am still using the 1.x version in my applications and I would love to go to a newer 2.x version if possible.
My praeference would be option 1 or option 1 with default locale en-US. But also option 2 would be OK.

[2022-02-22 18:11] pzmosquito commented on #176
@arthurdenner any update?

[2022-03-12 23:30] yb172 opened #742 "Manually editing the date is not working correctly"
# 🐛 bug report

## Description of the problem
When you are trying to edit the date manually it won't always work.

## Steps to reproduce
Let's say I want to select today's date, but a year ago. What I will do:

 * Go to examples page: https://react-semantic-ui-datepickers.vercel.app/?path=/story/datepickers--basic-usage
 * Select any date with datepicker (e.g. 2022-03-12)
 * Click again on input t

[2022-03-13 08:34] arthurdenner commented on #742
Hi, @yb172! 👋🏽

Thanks for reporting this issue. I'm able to reproduce it.

This behaviour usually happens when the state update is async but I don't think that's the case here.
I'll try to find time to some investigation later, but if you have insights or interest in fixing it, I appreciate it.

[2022-04-06 18:51] Lrigh1 opened #754 "Dependency not working with React v18"
# 🐛 bug report
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.8 || ^17.0" from react-semantic-ui-datepickers@2.17.0
npm ERR! node_modules/react-semantic-ui-datepickers
npm ERR!   react-semantic-ui-datepickers@"^2.17.0" from the root project

## Description of the problem
After updating react to the latest version (v18), dependency errors appear when trying to start the project.

#

[2022-04-08 15:00] #754 closed

[2022-04-10 22:00] Lrigh1 commented on #754
Thanks @arthurdenner!  This was the first time I've ever reached out about a module update, and I bet I could have even tried or requested to attempt a public commit myself.  You gave me a little confidence boost to be more active in the future.   Thank you for the work you do!

[2022-04-17 20:17] mpaccione opened #756 "Poor Styled Components Implementation"
The passing of the className prop should not be on the input directly but on the top level element.
When you set it directly to the input I cannot styled the injected date popup. This needs to be reworked.

The below code should work but doesn't of course.

[code]

[2022-04-18 14:50] arthurdenner commented on #756
There's an open PR trying to solve this but I don't have much time to look at and update this project.
If you want to tweak the current implementation to fix your needs, you can use something like [patch-package](https://www.npmjs.com/package/patch-package). I'll leave the issue open as it's somewhat a problem.

[2022-04-18 15:05] mpaccione commented on #756
Thanks for responding.
Given that you don't have time to review open PR's I wont make one. However I will fix this to solve me own needs.

patch-package looks cool, thanks for the tip!

[2022-06-03 16:34] Gorcyn opened #775 "Picker default date when value not set"
# ❔ Question

Hi!

Let's say I have a form including a `SemanticDatepicker` field.
When the form is shown, all fields are empty.

When I click on the field, the date picker appears and is by default showing the current date month.

Is it possible to make it show another month/year without setting its `value`?

_I use it to ask for a birthdate. It feels quite uncomfortable to see it open on today._

[2022-07-12 22:39] kn-ivan opened #780 "Does not work on RunKit out of the box"
# 🐛 bug report

## Description of the problem

If I go to the NPMJS page and then go to RunKit, then I click Run, I get an error, right out of the box, without editing anything.

## How has this issue affected you? What are you trying to accomplish?

I got this bug while evaluating your package for possible use in my project.  It's not good, because it makes me worry that it won't work out of the

[2022-07-18 22:24] kn-ivan opened #781 "Better locale typing"
# Better locale typing

Currently, you only have limited locales in LocaleOptions.

[code]

You don't, for example, have 'hi-IN' for Hindi, India.  Why so few?  In order for this package to be of any use to anyone who will use localization, this is effectively useless, except for people who only happen use the locales you provided in TypeScript.

It's a no-go to add new ones, unless I want to just

[2022-07-19 23:30] arthurdenner commented on #781
Hi there. The locales in the prop are the ones in the repo: https://github.com/arthurdenner/react-semantic-ui-datepickers/tree/develop/src/locales. To have more locales, we'd need more files (see #2).

[2022-07-19 23:30] #781 closed

[2022-07-26 21:05] arthurdenner commented on #780
As the error stacktrace shows, `dayzed` is a dependency of this library and requires `prop-types`. We don't have control over this dependency and this library isn't supposed to bundle `prop-types` either.

[2022-07-26 21:05] #780 closed

[2022-11-11 05:06] edwin-tandiono opened #806 "Today button triggers form onSubmit"
# 🐛 bug report

## Description of the problem
I have a range datepicker rendered inside a form with `onSubmit` set to a function. When clicking the today button on the datepicker, the form received a submit event and ran the `onSubmit` function.

## How has this issue affected you? What are you trying to accomplish?
When user clicks the today button, I expect the calendar to select today's date wi

[2022-11-11 14:27] arthurdenner commented on #806
Hi @edwin-tandiono! 👋🏽
Thanks for reporting this and for the sandbox.

I've opened a PR that adds `type="button"` to all of the rendered buttons so that none of them will trigger the form submission in your scenario. The version with the fix will be published soon.

[2022-11-11 14:28] #806 closed